/*
	MEDIA QUERIES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
/*@media (max-width: 1600px)/*
	/**********************
		INDEX
    **********************/
    	
@media (max-width: 1400px)
	/**********************
		INDEX
    **********************/
 		
@media (max-width: 1297px)
	/**********************
		INDEX
    **********************/

// Large devices (desktops, 62em and up)
@media (max-width: 991px)
	/**********************
       HEADER
    **********************/
	.main
		width 45em
    	
	/**********************
       INDEX
    **********************/
	.content
		.item
			width 50%
			height 20em
			&:nth-child(3)
				width 100%
				height 15em
		&.portfolio
			.item
				&:nth-child(1)
				&:nth-child(2)
					width 100%

	/**********************
        ERROR 404
    **********************/


// Medium devices (tablets, 48em and up)
@media (max-width: 769px)
	/**********************
        LOGIN
    **********************/			
	body
		font-size 14px
		
	/**********************
    	HEADER
    **********************/
		
	
	/**********************
        INDEX
    **********************/

@media (max-width: 630px)
	/**********************
    	INDEX
    **********************/			
	body
		//font-size 14px
		
	.content
		.item
			&.order-1 
				order 1
				margin top -1em
				padding 2.5em
				
			&.order-2 
				order 2
			&.order-3
				order 3
			width 100%
	/*	&.about
			.item
				&:nth-child(1)
					background none
					position absolute
					figure
						height 100%
						width 100%
						img
							height 150px
							width 150px */

		
	/**********************
       HEADER
    **********************/
	.main
		width 95%
		
	header
		h1
			text-align center
			
		.mainContainer
			//margin-bottom 0.5em
			nav
				width 100%
				flex-center()
				li
					a
						font-size 1.3em
			&-item
				display none
								
	/**********************
        FOOTER
    **********************/											   	

// Small devices (landscape phones, 415px and up)
@media (max-width: 415px)
	body
		font-size 11px	
				
	/**********************
        INDEX
    **********************/