/*
	Proyecto: Test de Curriculum para Lili (Version 2016)
	Maquetado por: @Krlitoxman
	Fecha: 15/10/2016;
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/

/*
	IMPORTACIONES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
@import 'nib'


/*
	VARIABLES
-------------------------------------------------------------------------*/
beige = #f8fad1
fucsia = #c60073

azul = #2389cb
azul-celeste = #0cd2d4

naranja = #c74b0d
rojo = #c0290c
vinotinto = #87004d

verde = #367201
verde-fluorescente = #52d43e

gris-claro = #e7e7e4

/*
	MIXINS
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
flex-center()
	display flex
	flex-wrap wrap
	justify-content center
	
flex-around()
	display flex
	flex-wrap wrap
	justify-content space-around
	
flex-between()
	display flex
	flex-wrap wrap
	justify-content space-between
	
flex-flexStart()
	display flex
	flex-wrap wrap
	justify-content flex-start
	

/*
	CLASES GENERALES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
body
	background beige
	font-size 16px
	margin 0 0 3em 0
	
ul
	margin 0
	padding 0
	li
		list-style none
		
h1
	font-size 2.5em
	text-transform uppercase
	color fucsia
	
h3
	font-size 1.7em
	
h1
h2
h3
p
	margin 0
	
p
	font-size 1em
	color rgba(black .7)
	font-family 'helvetica'
	
figure
	margin 0

input
	border 0
	height 2.7em
	width 100%
	text-indent 1em

/*
	HEADER
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/	
.main
	width 60em
	margin 0 auto
	
header
	padding-top 1.5em
	h1
		text-align right
		
	.mainContainer
		background gris-claro
		padding 0.4em 0.5em 0 0.5em
		flex-between()
		nav
			ul
				flex-flexStart()
				li
					margin-right 0.4em
					a
						display inline-block
						color black
						font-family 'Arial'
						font-weight bold
						text-transform uppercase
						text-decoration none
						font-size 1em
					&:nth-child(1)
						border-bottom 6px solid vinotinto
					&:nth-child(2)
						border-bottom 6px solid verde
					&:nth-child(3)
						border-bottom 6px solid azul
					&:nth-child(4)
						border-bottom 6px solid naranja
						
		&-item
			h2
				font-size 1.8em
				color azul-celeste
				font-family 'Arial'
				font-weight bold
				text-transform uppercase
				margin-top -0.2em


/*
	INDEX
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
.m-general
	flex-between()
	.item
		width 33.3%
		height 18em
		text-align center
		figure
			width 81%
			margin 1em auto 0 auto
			img
				width 100%
				border-radius 50%
				
				
	&.about
		.item
			&:nth-child(1)
				background white
				
			&:nth-child(2)
				background vinotinto
				color white
				h3
					padding-top 1.4em
				p
					color white
					padding 1em
				
				
			&:nth-child(3)
				background fucsia
				span
					color rgba(white .7)
					text-transform uppercase
					font-size 2.5em
					font-weight bold
					font-family 'Arial'
					margin-top 2.7em
					display block
	&.create
		.item
			&:nth-child(1)
				background verde
				span
					color rgba(white .7)
					text-transform uppercase
					font-size 2.5em
					font-weight bold
					font-family 'Arial'
					margin-top 2.7em
					display block
			
			&:nth-child(2)
				background white
				figure
					width 54%
					margin 1em auto 0 auto
					img
						width 100%
						

			&:nth-child(3)
				background gris-claro
				h3
					color black
					padding-top 1.4em
				p
					padding 1em

	&.portfolio
		.item
			&-description
				background gris-claro
				margin 0.5em
				padding 2em
				p
					margin-bottom 0.6em
			&:nth-child(1)
				width 66.7%
				background white
			
			&:nth-child(2)
				background azul
				span
					color rgba(white .7)
					text-transform uppercase
					font-size 2.5em
					font-weight bold
					font-family 'Arial'
					margin-top 2.7em
					display block			
	
	&.contact
		.item
			&:nth-child(1)
				background naranja
				h3
					color white
					padding-top 2.5em
				p
					padding 1em
					color white
					font-size 1.2em
					
			&:nth-child(2)
				background rojo
				span
					color rgba(white .7)
					text-transform uppercase
					font-size 2.5em
					font-weight bold
					font-family 'Arial'
					margin-top 2.7em
					display block				

			&:nth-child(3)
				background naranja
				form 
					width 70%
					margin 0 auto
					figure
						width 4em
						padding-top 2em
					button
						background none
						color white
						border 1px solid white
						border-radius 4px
						margin-top 0.8em
						padding 0.4em 1em
						font-size 0.9em
						text-transform uppercase
						transition .2s linear
						&:hover
							background white 
							color naranja

		
@import 'media-queries.styl'