/*
	Proyecto: Lili's Profile (Version 2016)
	Maquetado por: @Krlitoxman
	Fecha: 18/10/2016;
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
/*
	VARIABLES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
azul = #2389cb
beige = #f9f5dc
fucsia = #c60073
gris = #e7e7e4
naranja = #c74b0d
rojo = #c0290c
verde = #367201
vinotinto = #87004d

/*
	FUNCIONES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
flex-center()
	display flex
	flex-wrap wrap
	justify-content center
	
flex-around()
	display flex
	flex-wrap wrap
	justify-content space-around
	
flex-between()
	display flex
	flex-wrap wrap
	justify-content space-between
	
flex-flexStart()
	display flex
	flex-wrap wrap
	justify-content flex-start
	
/*
	CLASES GENERALES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
body
	background beige
	font-size 16px
ul
	margin 0
	padding 0	
li
	list-style none

h1
	color fucsia
	font-size 2.5em
	margin 0
	text-transform uppercase
h2
	margin 0
p
	color rgba(black .7)
	font-family 'helvetica'
	font-size 1em
	margin 0
span
	margin 0
		
figure
	margin 0
	
input
	background white
	border-radius 3px
	border 0
	height 2.7em
	padding 0 0.5em


/*
	HEADER
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
.main 
		padding-top 1.5em
		width 60em
		margin 0 auto
	h1
		font-family Gabriola
		text-align right
	.mainContainer
		background gris
		padding 0.4em 0.5em 0 0.5em
		flex-between()
		nav
			ul
				flex-flexStart()
				li 
					margin-right 0.4em
					a
						color black
						font-family arial
						font-size 1em 
						font-weight bold
						text-decoration none
						text-transform uppercase
					&:nth-child(1)
						border-bottom 6px solid vinotinto
					&:nth-child(2)
						border-bottom 6px solid verde
					&:nth-child(3)
						border-bottom 6px solid azul
					&:nth-child(4)
						border-bottom 6px solid naranja						
		&-item
			h2
				color azul
				font-family 'Arial'
				font-size 1.8em
				font-weight bold
				margin-top -0.2em	
				text-transform uppercase
				
.content
	flex-between()
	.item
		height 18em
		margin-top -1.5em
		text-align center
		width 33.3%
		figure
			margin 1em auto 0 auto
			width 81%
			img
				border-radius 50%
				width 100%
	&.about
		.item
			&:nth-child(1)
				background white
				
			&:nth-child(2)
				background vinotinto
				color white
				h3
					padding-top 1.4em
				p
					color white
					padding 1em
				
			&:nth-child(3)
				background fucsia
				span
					color rgba(white .7)
					display block
					font-family 'Arial'
					font-size 2.5em
					font-weight bold
					margin-top 2.7em
					text-transform uppercase
					
	&.creation
		.item
			&:nth-child(1)
				background verde
				span
					color rgba(white .7)
					display block
					font-family 'Arial'
					font-size 2.5em
					font-weight bold
					margin-top 2.7em
					text-transform uppercase
			
			&:nth-child(2)
				background white
				figure
					margin 1em auto 0 auto
					width 54%
					img
						width 100%
						

			&:nth-child(3)
				background gris
				h3
					color black
					padding-top 1.4em
				p
					padding 1em
					
	&.portfolio
		.item
			.background
				background gris
				margin 0.5em
				padding 0.4em
				p
					margin-bottom 0.6em
			
			&:nth-child(1)
				width 66.7%
				background white
				span
					color rgba(black .7)
					display block
					margin-bottom 1em
			
			&:nth-child(2)
				background azul
				span
					color rgba(white .7)
					text-transform uppercase
					font-size 2.5em
					font-weight bold
					font-family 'Arial'
					margin-top 2.7em
					display block	
	
	&.contact
		.item
			&:nth-child(1)
				background naranja
				h3
					color white
					padding-top 2.5em
				p
					padding 1em
					color white
					font-size 1.2em
		
			&:nth-child(2)
				background rojo
				span
					color rgba(white .7)
					text-transform uppercase
					font-size 2.5em
					font-weight bold
					font-family 'Arial'
					margin-top 2.7em
					display block				

			&:nth-child(3)
				background naranja
				form 
					width 70%
					margin 0 auto
					figure
						padding 1em
						img
							margin 1em auto 0 auto
							width 40%
					button
						background none
						color white
						border 1px solid white
						border-radius 4px
						margin-top 0.8em
						padding 0.6em 1em
						font-size 0.9em
						text-transform uppercase
						transition .2s linear
						&:hover
							background white 
							color naranja

footer
	flex-center()
	color rgba(black,0.5)
	padding 1em
	text-align center
	h3
		font-weight normal
		strong
			&:before
			&:after
				content " ♥♥♥ "
				color red

@import 'media-queries.styl'
